<div class="col-6 security_scanner" data-name="qualys">
    <div class="card card-row-1">
        <div class="card-header">
            <div class="d-flex">
                <h9 class="flex-grow-1">Qualys</h9>

                <button type="button" class="btn btn-24 btn-action" data-toggle="collapse"
                        data-target="#settings_qualys" aria-expanded="false"><i class="fas fa-cog"></i>
                </button>

                <label class="custom-toggle">
                    <input type="checkbox" data-target="#selector_qualys" aria-expanded="false" data-toggle="collapse"
                           class="integration_checkbox" id="integration_checkbox_qualys">
                    <span class="custom-toggle-slider rounded-circle"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="collapse col-12 mb-3 pl-0" id="selector_qualys">
                <select class="selectpicker" data-style="btn-secondary">
                    {% for i in config['project_integrations'] %}
                        <option
                                value="{{ i.id }}"
                                {% if i.is_default %} selected data-is_default="true"{% endif %}
                                title="{{ i.description }} {% if i.is_default %} - default {% endif %}"
                        >
                            {{ i.id }} - {{ i.description }} {% if i.is_default %} -default {% endif %}
                        </option>
                    {% endfor %}
                </select>

            </div>
        </div>

    </div>

</div>

<script src="{{ url_for('qualys.static', filename='js/qualys_reporter_toggle.js') }}" type="text/javascript"></script>
