<div class="col-6 security_scanner">
    <div class="card card-row-1" id="reporter_qualys">
        <div class="card-header">
            <div class="d-flex">
                <h9 class="flex-grow-1">Qualys</h9>

                <button type="button" class="btn btn-24 btn-action" data-toggle="collapse"
                        data-target="#reporter_settings_qualys" aria-expanded="false"><i class="fas fa-cog"></i>
                </button>

                <label class="custom-toggle">
                    <input type="checkbox" class="integration_enabled">
                    <span class="custom-toggle-slider rounded-circle"></span>
                </label>
            </div>
        </div>
        <div class="collapse" id="reporter_settings_qualys" data-selected="{id: {{config['project_integrations'][0].id}}}">
{#        {% for i in config['project_integrations'] %}#}
{#            <div class="row">{{i.id, i.name, i.section}}</div>#}
{#        {% endfor %}#}
        <select class="selectpicker mr-2" data-style="btn-secondary">
            {% for i in config['project_integrations'] %}
                <option>{{i.id, i.name, i.section, i.is_default}}</option>
            {% endfor %}
        </select>

    </div>
    </div>

</div>
