<link rel="stylesheet" href="{{ url_for('qualys.static', filename='css/integration_card.css') }}"/>

<button type="button"
        class="btn-action btn-lg btn-secondary card card-row-1 mr-3 ml-3 flex-row align-items-center p-2"
        data-toggle="modal"
        data-target="#qualys_integration"
        id="create_integration_qualys"
>
    <!--    <div class="row">-->
    <div class="col-2"><i class="fa fa-plus"></i></div>
    <div class="col-3"><img style="height: 24px" src="{{ url_for('qualys.static', filename='logo.svg') }}"></img></div>
    <div class="col">Qualys</div>
    <!--    </div>-->
</button>
<div class="modal fixed-left fade shadow-sm" tabindex="-1" role="dialog" id="qualys_integration">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col">
                        <h2>Qualys integration</h2>
                    </div>
                    <div class="col-xs">
                        <button type="button" id="qualys_close" class="btn btn-sm btn-secondary" data-dismiss="modal"
                                aria-label="Close">Cancel
                        </button>
                        <button type="button" id="qualys_submit" class="btn btn-sm btn-secondary">Save</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="qualys_url">URL</label>
                            <input type="text" id="qualys_url" class="form-control form-control-alternative"
                                   placeholder="URL">
                            <div id="error_qualys_url" class="invalid-feedback"></div>
                        </div>
                        <div class="row">
                            <div class="col pl-0">
                                <div class="form-group">
                                    <label for="qualys_login">Login</label>
                                    <input type="text" id="qualys_login" class="form-control form-control-alternative"
                                           placeholder="Login">
                                    <div id="error_qualys_login" class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col pr-0 pl-1">
                                <div class="form-group">
                                    <label for="qualys_password">Password</label>
                                    <input type="password" id="qualys_password"
                                           class="form-control form-control-alternative" placeholder="Password">
                                    <div id="error_qualys_password" class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="qualys_description">Description</label>
                            <textarea class="form-control" id="qualys_description" rows="3"
                                      placeholder="Optional"></textarea>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="qualys_default">
                            <label class="form-check-label" for="qualys_default">
                                Set as default integration
                            </label>
                        </div>
                        <button type="button" id="qualys_test_connection" class="btn btn-sm btn-secondary mt-3">
                            Test connection
                        </button>
                        <div id="error_qualys_check_connection" class="invalid-feedback"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('qualys.static', filename='js/qualys_integrations.js') }}" type="text/javascript"></script>

